/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/resources/js/components
/public/resources/js/store
/public/resources/js/router
/public/resources/js/plugins
/public/resources/js/Errors.js
/public/resources/js/Event.js
/public/resources/js/Filter.js
/public/resources/js/Form.js
/public/resources/js/Api.js
/public/resources/js/bootstrap.js


.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
